{% extends "base.html" %}
{% block title %}{{ _('Share List') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h4>{{ _('Share List: "%(list_name)s"', list_name=current_list.name) }}</h4>
    </div>
</div>

<!-- ================================================================== -->
<!-- <<< تغییر جدید: افزودن بخش اشتراک‌گذاری با QR Code >>> -->
<!-- ================================================================== -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h5><i class="material-icons left">qr_code_scanner</i>{{ _('Share with QR Code') }}</h5>
            <p>{{ _('Ask your friend to scan this QR code with their phone camera to instantly join this list.') }}</p>
            <a class="waves-effect waves-light btn modal-trigger" href="#qr-code-modal">{{ _('Show QR Code') }}</a>
        </div>
    </div>
</div>

<!-- Modal برای نمایش QR Code -->
<div id="qr-code-modal" class="modal">
    <div class="modal-content center-align">
        <h4>{{ _('Scan to Join "%(list_name)s"', list_name=current_list.name) }}</h4>
        <img src="{{ url_for('generate_qr', share_type='list', obj_id=current_list.id) }}" alt="{{ _('QR Code for sharing list') }}" width="250" height="250">
        <p class="grey-text">{{ _('This code is valid for 1 hour.') }}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ _('Close') }}</a>
    </div>
</div>


<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h5>{{ _('Share with Username') }}</h5>
            <form method="POST">
                <div class="input-field">
                    <input id="username" name="username" type="text" required>
                    <label for="username">{{ _('Enter username') }}</label>
                </div>
                <button type="submit" class="btn waves-effect waves-light">{{ _('Share') }}</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5>{{ _('Shared With') }}</h5>
        <ul class="collection">
            {% for user in current_list.shared_with_users %}
                <li class="collection-item">
                    <div>{{ user.username }}
                        <a href="{{ url_for('unshare_list', list_id=current_list.id, user_id=user.id) }}" class="secondary-content"><i class="material-icons red-text">remove_circle</i></a>
                    </div>
                </li>
            {% else %}
                <li class="collection-item">{{ _('This list is not shared with anyone yet.') }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
